[Desktop Entry]
Version=1.0
Name=PyCharm
Comment=IDE for Python
Exec=/opt/pycharm/bin/pycharm.sh
Icon=/opt/pycharm/bin/pycharm.png 
Terminal=false
Type=Application
Categories=Development;